/Lab3.1/nbproject/private/
/Lab3i/nbproject/private/
/Lab3i/build/
/Lab3ii/nbproject/private/
/Lab3ii/build/
/Lab3iii/nbproject/private/
/Lab3iii/build/
/Lav3iv/nbproject/private/
/Lav3iv/build/
/Lav4i/nbproject/private/
/Lav4i/build/
/Lab4ii/nbproject/private/
/Lab4ii/build/
/Lab4iii/nbproject/private/
/Lab4iii/build/
/Lab4cchatclient/nbproject/private/
/Lab4cchatclient/build/
/Lab5ii/nbproject/private/
/Lab5ii/build/
/JavaApplication29/nbproject/private/
/MyRemoteImpl/nbproject/private/
/MyRemoteImpl/build/
/Server/nbproject/private/
/Server/build/